@charset "UTF-8";
html{
    font-family: Microsoft YaHei, serif;/*雅黑，衬线体*/
    font-size: 62.5%;/*em单位换算*/
}
*{
    margin: 0;
    padding: 0;
}/*初始化代码*/
img{
    max-width: 100%;/*图片自适应*/
}
.wrap{
      overflow: hidden;/*消除浮动，隐藏子容器溢出*/
      width: 100%;
      max-width: 64em;
      background-color:#68cdd5 ;
      margin:0 auto ;
}
.icon-back{
      max-width: 6em;
      width: 10%;
      padding-top: 2%;
      padding-left: 2%;
}
.icon-logo{
      max-width:19em;
      margin: 0 auto;
      padding-top: 10%;
}
.content{
      width: 72%;
      color: #ffffff;
      margin: 0 auto;
      padding-top: 16%;
      padding-bottom: 30%;
      font-size:2.4em;
      line-height: 3em;
}
.duiqi{
    overflow: hidden;
    padding-bottom: 10em;
}
.icon-caodan{
      width: 50%;
      float: left;
      text-align: center;
}
.duiqi p{
      font-size: 2em;
      line-height: 3em;
      text-align: center;
      color: #ffffff;}
}
@media screen and (max-width: 768px) {
    html {
        font-size: 52.5%;
    }
}